<a href="https://colab.research.google.com/github/leonis100/project/blob/main/trabalhomacro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install investpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting investpy
  Downloading investpy-1.0.8.tar.gz (4.4 MB)
     |████████████████████████████████| 4.4 MB 30.2 MB/s
Collecting Unidecode>=1.1.1
  Downloading Unidecode-1.3.6-py3-none-any.whl (235 kB)
     |████████████████████████████████| 235 kB 47.3 MB/s
Requirement already satisfied: setuptools>=41.2.0 in /usr/local/lib/python3.7/dist-packages (from investpy) (57.4.0)
Requirement already satisfied: numpy>=1.17.2 in /usr/local/lib/python3.7/dist-packages (from investpy) (1.21.6)
Requirement already satisfied: pandas>=0.25.1 in /usr/local/lib/python3.7/dist-packages (from investpy) (1.3.5)
Requirement already satisfied: lxml>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from investpy) (4.9.1)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from investpy) (2.23.0)
Requirement already satisfied: pytz>=2019.3 in /usr/local/lib/python3.7/dist-packages (from investpy) (2022.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.1->investpy) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.1->investpy) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (1.24.3)
Building wheels for collected packages: investpy
  Building wheel for investpy (setup.py) ... done
  Created wheel for investpy: filename=investpy-1.0.8-py3-none-any.whl size=4481592 sha256=6fd75c693be9ae92adb1aa2b07144b4d77af7a2009e2a7e053859dba881cbdd2
  Stored in directory: /root/.cache/pip/wheels/96/a8/a5/0d33c72eaf00b41df7b9dc1e15d2b7c7154b3f1379ed350211
Successfully built investpy
Installing collected packages: Unidecode, investpy
Successfully installed Unidecode-1.3.6 investpy-1.0.8

In [2]:
pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [3]:
import pandas as pd
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
 pip install wbgapi

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting wbgapi
  Downloading wbgapi-1.0.12-py3-none-any.whl (36 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from wbgapi) (2.23.0)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from wbgapi) (6.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from wbgapi) (0.8.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->wbgapi) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->wbgapi) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->wbgapi) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->wbgapi) (3.0.4)
Installing collected packages: wbgapi
Successfully installed wbgapi-1.0.12

In [6]:
import wbgapi as wb

In [7]:
wb.economy.coder(['BRAZIL', 'RUSSIA', 'INDIA', 'CHINA', 'SOUTH AFRICA'])

ORIGINAL NAME    WBG NAME            ISO_CODE
---------------  ------------------  ----------
BRAZIL           Brazil              BRA
RUSSIA           Russian Federation  RUS
INDIA            India               IND
CHINA            China               CHN
SOUTH AFRICA     South Africa        ZAF

In [8]:
wb.economy.coder(['CHILE', 'Guyana','French Guyana'])

ORIGINAL NAME    WBG NAME    ISO_CODE
---------------  ----------  ----------
CHILE            Chile       CHL
Guyana           Guyana      GUY
French Guyana    Guyana      GUY

In [9]:
wb.economy.coder(['WORLD'])

ORIGINAL NAME    WBG NAME    ISO_CODE
---------------  ----------  ----------
WORLD

In [10]:
wb.series.info(q='gdp')

id                    value
--------------------  -------------------------------------------------------------------------
EG.GDP.PUSE.KO.PP     GDP per unit of energy use (PPP $ per kg of oil equivalent)
EG.GDP.PUSE.KO.PP.KD  GDP per unit of energy use (constant 2017 PPP $ per kg of oil equivalent)
EG.USE.COMM.GD.PP.KD  Energy use (kg of oil equivalent) per $1,000 GDP (constant 2017 PPP)
NY.GDP.DEFL.KD.ZG     Inflation, GDP deflator (annual %)
NY.GDP.DEFL.KD.ZG.AD  Inflation, GDP deflator: linked series (annual %)
NY.GDP.DEFL.ZS        GDP deflator (base year varies by country)
NY.GDP.DEFL.ZS.AD     GDP deflator: linked series (base year varies by country)
NY.GDP.DISC.CN        Discrepancy in expenditure estimate of GDP (current LCU)
NY.GDP.DISC.KN        Discrepancy in expenditure estimate of GDP (constant LCU)
NY.GDP.MKTP.CD        GDP (current US$)
NY.GDP.MKTP.CN        GDP (current LCU)
NY.GDP.MKTP.CN.AD     GDP: linked series (current LCU)
NY.GDP.MKTP.KD        GDP (constant 2015 US$)
NY.GDP.MKTP.KD.ZG     GDP growth (annual %)
NY.GDP.MKTP.KN        GDP (constant LCU)
NY.GDP.MKTP.PP.CD     GDP, PPP (current international $)
NY.GDP.MKTP.PP.KD     GDP, PPP (constant 2017 international $)
NY.GDP.PCAP.CD        GDP per capita (current US$)
NY.GDP.PCAP.CN        GDP per capita (current LCU)
NY.GDP.PCAP.KD        GDP per capita (constant 2015 US$)
NY.GDP.PCAP.KD.ZG     GDP per capita growth (annual %)
NY.GDP.PCAP.KN        GDP per capita (constant LCU)
NY.GDP.PCAP.PP.CD     GDP per capita, PPP (current international $)
NY.GDP.PCAP.PP.KD     GDP per capita, PPP (constant 2017 international $)
PA.NUS.PPP            PPP conversion factor, GDP (LCU per international $)
PA.NUS.PPPC.RF        Price level ratio of PPP conversion factor (GDP) to market exchange rate
SL.GDP.PCAP.EM.KD     GDP per person employed (constant 2017 PPP $)
                      27 elements

In [11]:
gdp=wb.data.DataFrame('NY.GDP.MKTP.CD',['BRA','RUS', "IND",'CHN',"ZAF"])

In [12]:
gdp.head()

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,...,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021
economy,,,,,,,,,,,,,,,,,,,,,
BRA,1.703047e+10,1.727594e+10,1.923175e+10,2.328771e+10,2.096373e+10,2.246552e+10,2.828332e+10,3.108639e+10,3.393046e+10,3.717164e+10,...,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12,1.795693e+12,2.063515e+12,1.916934e+12,1.873288e+12,1.448566e+12,1.608981e+12
CHN,5.971647e+10,5.005687e+10,4.720936e+10,5.070680e+10,5.970834e+10,7.043627e+10,7.672029e+10,7.288163e+10,7.084654e+10,7.970591e+10,...,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13,1.123328e+13,1.231041e+13,1.389482e+13,1.427994e+13,1.468767e+13,1.773406e+13
IND,3.702988e+10,3.923244e+10,4.216148e+10,4.842192e+10,5.648029e+10,5.955485e+10,4.586546e+10,5.013494e+10,5.308546e+10,5.844800e+10,...,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12,2.294798e+12,2.651473e+12,2.702930e+12,2.831552e+12,2.667688e+12,3.173398e+12
RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.208296e+12,2.292473e+12,2.059242e+12,1.363481e+12,1.276787e+12,1.574199e+12,1.657330e+12,1.693114e+12,1.488322e+12,1.775800e+12
ZAF,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,1.421139e+10,1.582139e+10,1.712479e+10,1.925699e+10,...,4.344005e+11,4.008860e+11,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.048421e+11,3.879346e+11,3.354421e+11,4.199464e+11

In [13]:
gdp.to_excel('gdp.xls')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

In [14]:
gdp3=wb.data.DataFrame('NY.GDP.MKTP.CD',{'BRA','ARG','BOL','CHL','COL','EQU','GUY', 'PAR', 'PER','SUR','URU','VEN'})

In [15]:
gdp3.head()

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,...,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021
economy,,,,,,,,,,,,,,,,,,,,,
ARG,NaN,NaN,2.445060e+10,1.827212e+10,2.560525e+10,2.834471e+10,2.863047e+10,2.425667e+10,2.643686e+10,3.125628e+10,...,5.459824e+11,5.520251e+11,5.263197e+11,5.947493e+11,5.575314e+11,6.436287e+11,5.248197e+11,4.528184e+11,3.895910e+11,4.914927e+11
BOL,3.738794e+08,4.066846e+08,4.446652e+08,4.788060e+08,5.394915e+08,6.043771e+08,6.691919e+08,7.558081e+08,8.579125e+08,9.296296e+08,...,2.708450e+10,3.065934e+10,3.299619e+10,3.300020e+10,3.394113e+10,3.750864e+10,4.028765e+10,4.089532e+10,3.662984e+10,4.040821e+10
BRA,1.703047e+10,1.727594e+10,1.923175e+10,2.328771e+10,2.096373e+10,2.246552e+10,2.828332e+10,3.108639e+10,3.393046e+10,3.717164e+10,...,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12,1.795693e+12,2.063515e+12,1.916934e+12,1.873288e+12,1.448566e+12,1.608981e+12
CHL,4.110000e+09,4.609727e+09,5.416273e+09,5.668188e+09,5.982348e+09,6.026594e+09,7.072641e+09,7.013196e+09,7.167087e+09,8.377093e+09,...,2.671759e+11,2.772395e+11,2.594052e+11,2.424966e+11,2.492987e+11,2.763649e+11,2.954027e+11,2.785847e+11,2.527272e+11,3.170585e+11
COL,4.031153e+09,4.540448e+09,4.955544e+09,4.836167e+09,5.973367e+09,5.760762e+09,5.428519e+09,5.825170e+09,5.960213e+09,6.450175e+09,...,3.709213e+11,3.821161e+11,3.811121e+11,2.934817e+11,2.828250e+11,3.118837e+11,3.341982e+11,3.231095e+11,2.703000e+11,3.143225e+11

In [16]:
gdp3.to_excel('gdp3.xls')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

In [17]:
wb.series.info(q='unemployment')

id                        value
------------------------  ------------------------------------------------------------------------------------------------------
per_lm_alllm.adq_pop_tot  Adequacy of unemployment benefits and ALMP (% of total welfare of beneficiary households)
per_lm_alllm.ben_q1_tot   Benefit incidence of unemployment benefits and ALMP to poorest quintile (% of total U/ALMP benefits)
per_lm_alllm.cov_pop_tot  Coverage of unemployment benefits and ALMP (% of population)
per_lm_alllm.cov_q1_tot   Coverage of unemployment benefits and ALMP in poorest quintile (% of population)
per_lm_alllm.cov_q2_tot   Coverage of unemployment benefits and ALMP in 2nd quintile (% of population)
per_lm_alllm.cov_q3_tot   Coverage of unemployment benefits and ALMP in 3rd quintile (% of population)
per_lm_alllm.cov_q4_tot   Coverage of unemployment benefits and ALMP in 4th quintile (% of population)
per_lm_alllm.cov_q5_tot   Coverage of unemployment benefits and ALMP in richest quintile (% of population)
SL.UEM.1524.FE.NE.ZS      Unemployment, youth female (% of female labor force ages 15-24) (national estimate)
SL.UEM.1524.FE.ZS         Unemployment, youth female (% of female labor force ages 15-24) (modeled ILO estimate)
SL.UEM.1524.MA.NE.ZS      Unemployment, youth male (% of male labor force ages 15-24) (national estimate)
SL.UEM.1524.MA.ZS         Unemployment, youth male (% of male labor force ages 15-24) (modeled ILO estimate)
SL.UEM.1524.NE.ZS         Unemployment, youth total (% of total labor force ages 15-24) (national estimate)
SL.UEM.1524.ZS            Unemployment, youth total (% of total labor force ages 15-24) (modeled ILO estimate)
SL.UEM.ADVN.FE.ZS         Unemployment with advanced education, female (% of female labor force with advanced education)
SL.UEM.ADVN.MA.ZS         Unemployment with advanced education, male (% of male labor force with advanced education)
SL.UEM.ADVN.ZS            Unemployment with advanced education (% of total labor force with advanced education)
SL.UEM.BASC.FE.ZS         Unemployment with basic education, female (% of female labor force with basic education)
SL.UEM.BASC.MA.ZS         Unemployment with basic education, male (% of male labor force with basic education)
SL.UEM.BASC.ZS            Unemployment with basic education (% of total labor force with basic education)
SL.UEM.INTM.FE.ZS         Unemployment with intermediate education, female (% of female labor force with intermediate education)
SL.UEM.INTM.MA.ZS         Unemployment with intermediate education, male (% of male labor force with intermediate education)
SL.UEM.INTM.ZS            Unemployment with intermediate education (% of total labor force with intermediate education)
SL.UEM.TOTL.FE.NE.ZS      Unemployment, female (% of female labor force) (national estimate)
SL.UEM.TOTL.FE.ZS         Unemployment, female (% of female labor force) (modeled ILO estimate)
SL.UEM.TOTL.MA.NE.ZS      Unemployment, male (% of male labor force) (national estimate)
SL.UEM.TOTL.MA.ZS         Unemployment, male (% of male labor force) (modeled ILO estimate)
SL.UEM.TOTL.NE.ZS         Unemployment, total (% of total labor force) (national estimate)
SL.UEM.TOTL.ZS            Unemployment, total (% of total labor force) (modeled ILO estimate)
                          29 elements

In [18]:
gdp7=wb.data.DataFrame({'SL.UEM.1524.MA.NE.ZS','SL.UEM.TOTL.NE.ZS','SL.UEM.TOTL.MA.NE.ZS','SL.UEM.TOTL.FE.NE.ZS',"SL.UEM.INTM.ZS",'SL.UEM.BASC.ZS','SL.UEM.ADVN.ZS' },{'BRA'})
gdp7.head()

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,...,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021
series,,,,,,,,,,,,,,,,,,,,,
SL.UEM.1524.MA.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.82,12.89,12.91,16.309999,23.24,25.040001,24.610001,23.35,26.629999,24.389999
SL.UEM.ADVN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.08,1.39,1.30,5.120000,6.36,7.000000,6.840000,6.80,7.580000,7.640000
SL.UEM.BASC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.00,6.88,6.65,8.850000,13.87,15.650000,15.000000,14.80,17.139999,16.530001
SL.UEM.INTM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.15,4.27,4.03,7.450000,13.46,14.540000,14.100000,13.66,16.080000,15.230000
SL.UEM.TOTL.FE.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.22,8.96,8.31,10.320000,13.79,15.040000,14.560000,14.47,16.559999,16.660000

In [19]:
gdp10=wb.data.DataFrame("NY.GDP.PCAP.CD",{'BRA','ARG','BOL','CHL','COL','EQU','GUY', 'PAR', 'PER','SUR','URU','VEN'})

In [20]:
gdp10.head

<bound method NDFrame.head of              YR1960      YR1961       YR1962       YR1963       YR1964  \
economy
ARG             NaN         NaN  1155.890717   850.304579  1173.238105
BOL      102.237722  109.061304   116.924968   123.429341   136.312362
BRA      235.946883  232.480546   251.348317   295.631971   258.605371
CHL      505.349325  555.134403   638.945360   655.252249   678.128106
COL      251.041523  274.052264   289.917946   274.314958   328.655032
GUY      297.676423  315.385460   321.545237   282.304071   305.366399
PER      253.264921  277.568763   305.761617   325.516339   382.743965
SUR      346.163199  363.958326   382.205637   403.757073   419.649855
VEN      955.446418  970.356398  1023.355237  1077.403051   864.471221

              YR1965       YR1966       YR1967       YR1968       YR1969  ...  \
economy                                                                   ...
ARG      1279.113778  1272.803204  1062.543412  1141.080432  1329.058546  ...
BOL       149.640333   162.326054   179.583038   199.629567   211.797016  ...
BRA       269.456290   330.040586   353.110711   375.390574   400.787069  ...
CHL       670.395686   772.725716   753.127958   756.912001   870.319839  ...
COL       307.646860   281.566049   293.644264   292.257496   307.995210  ...
GUY       327.115728   344.168077   370.159649   334.842249   358.321967  ...
PER       441.182112   507.530953   500.873486   450.401467   490.413604  ...
SUR       468.627922   562.907542   634.791888   676.901762   714.159978  ...
VEN       869.535023   876.153926   892.879465   937.598671   930.926212  ...

               YR2012        YR2013        YR2014        YR2015        YR2016  \
economy
ARG      13082.664326  13080.254732  12334.798245  13789.060425  12790.242473
BOL       2609.880562   2908.200371   3081.878824   3035.971655   3076.656439
BRA      12370.223255  12300.386712  12112.834955   8813.989806   8710.063290
CHL      15354.618404  15777.781509  14606.996724  13495.010610  13690.907462
COL       8050.255372   8218.347844   8114.343921   6175.876030   5870.777957
GUY       5378.810878   5489.140726   5407.147366   5576.825852   5811.397924
PER       6528.971775   6756.752996   6672.877373   6229.100674   6204.996457
SUR       9200.974786   9402.164419   9471.922001   9168.237157   5872.789429
VEN      12986.222692  12457.768602  16055.645317           NaN           NaN

               YR2017        YR2018        YR2019        YR2020        YR2021
economy
ARG      14613.041825  11795.159387  10076.355241   8585.694742  10729.232578
BOL       3351.124344   3548.590780   3552.068144   3137.989617   3414.892849
BRA       9928.675897   9151.381732   8876.059836   6814.875632   7518.834284
CHL      14962.556847  15772.333484  14699.462781  13220.570758  16502.838571
COL       6376.706716   6729.583332   6418.615783   5312.198556   6131.225922
GUY       6124.953670   6145.819277   6609.511280   6955.939217   9374.804570
PER       6710.507602   6958.497262   7023.077526   6117.493571   6692.248375
SUR       6295.560562   6938.086981   6853.693411   4916.605666   4836.332633
VEN               NaN           NaN           NaN           NaN           NaN

[9 rows x 62 columns]>

In [21]:
gdp10.to_excel('gdp10.xls')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

In [22]:
gdp6=wb.data.DataFrame("NY.GDP.PCAP.CD",['BRA','RUS', "IND",'CHN',"ZAF"])

In [23]:
gdp6.head

<bound method NDFrame.head of              YR1960      YR1961      YR1962      YR1963      YR1964  \
economy
BRA      235.946883  232.480546  251.348317  295.631971  258.605371
CHN       89.520542   75.805838   70.909412   74.313643   85.498555
IND       82.188603   85.354301   89.881756  101.126429  115.537496
RUS             NaN         NaN         NaN         NaN         NaN
ZAF      511.618737  526.461750  546.261935  589.160461  632.716104

             YR1965      YR1966      YR1967      YR1968      YR1969  ...  \
economy                                                              ...
BRA      269.456290  330.040586  353.110711  375.390574  400.787069  ...
CHN       98.486778  104.324566   96.589532   91.472718  100.129903  ...
IND      119.318916   89.997304   96.339136   99.875963  107.622318  ...
RUS             NaN         NaN         NaN         NaN         NaN  ...
ZAF      674.186433  714.562010  775.297687  817.719079  895.837603  ...

               YR2012        YR2013        YR2014       YR2015       YR2016  \
economy
BRA      12370.223255  12300.386712  12112.834955  8813.989806  8710.063290
CHN       6300.615118   7020.338485   7636.116601  8016.431435  8094.363367
IND       1443.882435   1449.610451   1573.885642  1605.605445  1732.554242
RUS      15420.875000  15974.644531  14095.648438  9313.013672  8704.898438
ZAF       8222.197279   7467.079185   6988.808739  6259.839681  5756.965741

               YR2017        YR2018        YR2019        YR2020        YR2021
economy
BRA       9928.675897   9151.381732   8876.059836   6814.875632   7518.834284
CHN       8816.986905   9905.342004  10143.838196  10408.669756  12556.333120
IND       1980.667020   1998.259076   2072.244897   1933.101069   2277.434347
RUS      10720.333008  11287.360352  11536.250977  10161.982422  12172.785156
ZAF       6690.939847   7005.095413   6624.761865   5655.867654   6994.211654

[5 rows x 62 columns]>